# ======================
# Node.js
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Environment variables
# ======================
.env
.env.local
.env.development
.env.production

# ======================
# Next.js
# ======================
.next/
out/

# ======================
# Database / ORM
# ======================
drizzle/*
!drizzle/migrations/
migrations/meta/

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Build outputs
# ======================
dist/
build/